<header>
  <h1>YOYA Testy</h1>
  <nav>
      <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="">Categories</a></li>
          <li><a href="/users/saved">Saved Recipes</a></li>
          <li><a href="/dashboard">My Account</a></li>
          <li><a href="/contact-us">Contact Us</a></li>
          <li><a href="">About Us</a></li>
          <li><a href="/users/logout">Logout</a></li>
      </ul>
  </nav>
</header>